:root {
  --main-bg-color: rgb(248, 248, 248);
  --main-outline-color: rgb(217, 217, 217);
  --main-outline-size: 1px;
  --margin-top: 1.5em;
  --header-height: 60px;
  --accent-color: blue
}
/* HEADER */

html{
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;

}

header {
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid var(--main-outline-color) var(--main-outline-size);
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: var(--header-height)
}

h1 {
  font-size: 2.5em;
  font-family: 'Licorice', cursive, sans-serif;
}

.form-label {
  display: none;
}

.list-container {
  display:flex;
  list-style: none;
}

.fas {
  margin: 10px;
  color: black
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FEED CARD */
.flower-image-info {
  border: solid var(--main-outline-color) var(--main-outline-size);
  margin-bottom: var(--margin-top);
  background-color: #fff;
}

.user-info{
  display: flex;
  align-items: center;
  padding: 12px
}

.user-images {
  border-radius: 10em;
  width: 2em;
  margin-right: 1em;
}

.flower-images{
  width: 100%;
}

.flower-info {
  padding: 12px
}
 
#feed-section{
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 30%;
  margin-top: calc(var(--header-height) + var(--margin-top));
  background-color: #fff;
}

#search-flowers {
  background-color: rgb(243, 243, 243);
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: .5em;
  font-size: 1em;
}

/* DISCOVER PAGE */

.discover-images {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

#discover-container {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: calc(var(--header-height) + var(--margin-top));
}

/* SEARCH RESULTS */

.search-images {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

#search-section {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: var(--margin-top);
}

/* MODAL */

.modal-content {
  display: none;
  z-index: 1;
}

.modal-box {
  background-color: rgba(0, 0, 0, 0.066);
  height: 100px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.user-images-modal {
  border-radius: 10em;
  width: 3em;
  position: relative;
  border: solid var(--accent-color)

}
/* MEDIA QUERIES */

@media only screen and (max-width: 1440px) {

  #feed-section, 
  #discover-container, 
  #search-section{
  width: 40em;
}
}

@media only screen and (max-width: 1024px) {

  #feed-section, 
  #discover-container, 
  #search-section{
  width: 37em;
}
}

@media only screen and (max-width: 640px) {

  #flower-search-form {
    display:none
  }

  #discover-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  
  .flower-image-info {
    border: none
  }

  #feed-section, 
  #discover-container, 
  #search-section{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  
}